* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #e1f7e7;
    overflow: hidden;
}

.blok{
    min-height: 70vh;
    width: 40vw;
    background-color: #789cce;
    margin: 0 auto;
    border-radius: 100px;
    margin-top: 5vh;
    
}

.bar{
    width: 460px;
    position: absolute;
    bottom: 270px;
    margin-left: 100px;
    height: 35px;
}

#adder {
    position: absolute;
    bottom: 270px;
    height: 35px;
    margin-left: 575px;
}